{% extends "../base.html" %}
{% load rest_framework %}
{% block content %}
<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form autocomplete="off" class="form-horizontal" method="post" action="{% url 'create_students' %}">
                            {% csrf_token %}

                            {% render_form serializer %}

                            <br>

                            <button class="form-group btn btn-success" style="background: #03c10b; color: black">Submit</button>
                        </form>
                        <br>

                    </div>

                </div>
            </div>
        </div>

{% endblock %}