<html>
<head>


</head>

<body>
    <section class="static-banner"></section>
    <section class="sign-up-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Activation code invalid</h4>
                        <p>
                            Please signup again
                        </p>
                    </div> -->
                    <div class="text-center activationfailed">
                        <h3 class="mt-20">Activation code invalid!</h3>
                        <p class="mtb-10">Please signup again.</p>
                        <a href="{% url 'signup' %}" class="btn btn-success">
                            Sign Up
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="extra-section"></section>
</body>

</html>
